@page
@model InvertirOnlineApp.Pages.CotizacionesModel
@using System.Text.Json

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="~/css/color.css" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/js/tablas.js"></script>
<script src="~/js/cotizaciones.js"></script>

<script>
</script>

<h2>Cotizaciones</h2>
<hr>

<div class="card mb-4">
    <div class="card-body">
        <form method="get">
            <div class="form-group mb-3">
                <div class="row align-items-end">
                    <div class="col-md-5 mb-3">
                        <label for="instrumento" class="form-label">Tipo Activo:</label>
                        <select id="instrumento" name="instrumento" class="form-control">
                            @foreach (var instrumento in Model.Instrumentos)
                            {
                                <option value="@instrumento">@instrumento.ToUpper()</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-5 mb-3">
                        <label for="pais" class="form-label">País:</label>
                        <select id="pais" name="pais" class="form-control">
                            @foreach (var pais in Model.Paises)
                            {
                                <option value="@pais">@pais.ToUpper()</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-2 mb-3 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary w-100">Filtrar</button>
                    </div>
                </div>

                <div class="form-group mt-3 mr-4 mb-0 d-flex justify-content-end">
                    <input type="text" id="filtroGenerico" class="form-control" placeholder="Buscar..." style="width: 200px;">
                </div>
            </div>
        </form>
    </div>
</div>

@if (Model.Cotizaciones != null && Model.Cotizaciones.Count > 0)
{
    <table class="table dark-mode" id="tablaCotizaciones">
        <thead>
            <tr>
                <th>Simbolo</th>
                <th>Último Precio</th>
                <th>Variación Porcentual</th>
                <th>Apertura</th>
                <th>Máximo</th>
                <th>Mínimo</th>
                <th>Volumen</th>
                <th>Fecha</th>           
                <th>Descripción</th>             
                @* <th>Estado</th> *@
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var activo in Model.Cotizaciones)
            {
                <tr>
                    <td>@activo.simbolo</td>
                    <td>@activo.ultimoPrecio!.Value.ToString("C2", System.Globalization.CultureInfo.GetCultureInfo("es-AR"))</td>
                     <td class="@(activo.variacionPorcentual < 0 ? "text-danger" : (activo.variacionPorcentual > 0 ? "text-success" : ""))">
                        @activo.variacionPorcentual %
                    </td>
                    <td>@activo.apertura!.Value.ToString("C2", System.Globalization.CultureInfo.GetCultureInfo("es-AR"))</td>
                    <td>@activo.maximo!.Value.ToString("C2", System.Globalization.CultureInfo.GetCultureInfo("es-AR"))</td>
                    <td>@activo.minimo!.Value.ToString("C2", System.Globalization.CultureInfo.GetCultureInfo("es-AR"))</td>
                    <td>@activo.volumen!.Value.ToString("F0")</td>
                    <td>@activo.fecha?.ToString("yyyy-MM-dd")</td>             
                    <td>@activo.descripcion</td>
                    @* <td>@Model.ClasificarBono(activo)</td> *@
                    <td>
                        <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#detalleModal"
                                data-cotizaciones='@Html.Raw(Json.Serialize(Model.Cotizaciones))'
                                onclick="verDetalle('@activo.simbolo', '@activo.mercado')">
                            <i class="fas fa-list"></i> 
                        </button>                        

                        @if (Model.InstrumentoSeleccionado == "acciones" || Model.InstrumentoSeleccionado == "cedears")
                        {
                            <a href="https://www.tradingview.com/chart/JT6qEyhm/?symbol=@activo.simbolo" target="_blank" class="btn btn-link">
                                <i class="fas fa-chart-line"></i>
                            </a>
                        }
                        else if (Model.InstrumentoSeleccionado == "titulosPublicos")
                        {
                            <a href="https://www.rava.com/perfil/@activo.simbolo" target="_blank" class="btn btn-link">
                                <i class="fas fa-chart-line"></i>
                            </a>
                        }
                        else if (Model.InstrumentoSeleccionado == "letras")
                        {
                            <a href="https://iol.invertironline.com/titulo/cotizacion/BCBA/@activo.simbolo/@Model.ObtenerFechaVencimiento(activo!.simbolo)/graficador" target="_blank" class="btn btn-link">
                                <i class="fas fa-chart-line"></i>
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No se encontraron cotizaciones.</p>
}

<div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content dark-mode">
            <div class="modal-header dark-mode">
                <h5 class="modal-title" id="detalleModalLabel">Detalle del Activo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="simboloSeleccionado" />
                <table class="table dark-mode" id="tablaDetalle">
                    <thead>
                        <tr>
                            <th>Simbolo</th>
                            <th>Tendencia</th>
                            <th>Cierre Anterior</th>
                            <th>Plazo</th>
                        </tr>
                    </thead>
                    <tbody id="detalleTableBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>